body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(94, 163, 104);
    font-family: "coordinates", sans-serif;
    color: white;
    font-size: 30px;
    top: 30px;
    text-align: center;

}

#ballon {
    position: absolute;
    top: 325px;
    left: 30px;

  }
  #ballon2 {
    position: absolute;
    top: 325px;
    right: 30px;

}


