body{
  background-image: url("/images/achtergrond2.png");
  background-repeat: repeat;
  background-size: cover;
 
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "coordinates", sans-serif;
  color: #66eccc;
  font-size: 40px;
  text-align: center;
  /*background-color: #E84E0F;*/
}

#pizzavanger {
  position: absolute;
  left: 300px;
  top: 500px;
  

}  

#pizza {
  position: absolute;
  top: 0px;
  left: 300px;

}
#startButton {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  }
