body{
    background-image: url("../images/achtergrond.png");
    background-repeat: no-repeat;
    background-size:contain;
    
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "coordinates", sans-serif;
    color: #66eccc;
    font-size: 40px;
    text-align: center;
  }

  
  #pizzavanger {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 50%;
    max-height: 50%;
    top: 80%;
  }
  
  #pizza {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 50%;
    max-height: 50%;
  }

  #startButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    }
  
  
     @media only screen and (max-width: 640px) {
        body {
          background-image: url("../images/achtergrond(640).png");
          background-size: cover;
          }
        
        #pizzavanger {
          top: 70%;
          max-height: 10%;
          max-width: 10%;
          
        }
        #pizza {
         top: 30%;
            max-height: 10%;
            max-width: 10%;
        }
    }
      
      
      @media only screen and (min-width: 641px) and (max-width: 1024px) {
        body {
          background-image: url("../images/achtergrond(750).png");
          background-size: 100% auto;
          }
        
        #pizzavanger {
          max-height: 20%;
          max-width: 20%;
          top: 70%;
        }
        #pizza {
            top: 15%;
            max-height: 20%;
            max-width: 20%;
          }
        }


      @media only screen and (min-width: 1025px) {
        body {
          background-image: url("../images/achtergrond(1080).png");
          background-size: 100% auto;
          }

        #pizzavanger {
          
          max-height: 50%;
          top: 80%;
        }
        #pizza {
            top: 20%;
            max-height: 50%;
          }
        }
