body{
    background-image: url("../images/achtergrond.png");
    background-repeat: repeat;
    /*background-size:cover;*/
    
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "coordinates", sans-serif;
    color: #66eccc;
    font-size: 40px;
    text-align: center;
  }
  
  #pizzavanger {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 50%;
    max-height: 50%;
  }
  
  #pizza {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 50%;
    max-height: 50%;
  }

  #startButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    }
  
  
     @media only screen and (max-width: 768px) {
        body {
            background-size: contain;
          }
        
        #pizzavanger {
          bottom: 20%;
          max-height: 10%;
        }
        #pizza {
         top: 10%;
            max-height: 10%;
        }
    }
      
      
      @media only screen and (min-width: 769px) and (max-width: 1024px) {
        body {
            background-size: contain;
          }
        
        #pizzavanger {
          bottom: 20%;
          max-height: 20%;
        }
        #pizza {
            top: 15%;
            max-height: 20%;
          }
        }


      @media only screen and (min-width: 1025px) {
        #pizzavanger {
          bottom: 30%;
          max-height: 50%;
        }
        #pizza {
            top: 20%;
            max-height: 50%;
          }
        }
