body{
    background-image: url("../images/achtergrond.png");
    background-repeat: no-repeat;
    background-size:contain;
    
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "coordinates", sans-serif;
    color: #66eccc;
    font-size: 40px;
    text-align: center;
  }

  button:focus {
    outline: none;
  }

  #gameBoard {
    width: 100vw; /* set the width to 80% of the viewport width */
    height: 100vh; /* set the height to 80% of the viewport height */
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    touch-action: manipulation;
  }
  
  .row {
    width: 100%;
    height: 10%; /* set the height to 10% of the game board height */
    display: flex;
    flex-wrap: wrap;
  }
  
  #pizza {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 20%;
    max-height: 20%;
    top: 5%; /* set a higher value for smaller screens */
  }
  
  #pizzavanger {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 20%;
    max-height: 20%;
    bottom: 5%; /* set a higher value for smaller screens */
  }

  #startButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    }
  
  
     @media only screen and (max-width: 768px) {
        body {
          background-image: url("../images/achtergrond(640).png");
          background-size: cover;
          }
        
          #pizza {
            max-width: 15%;
            max-height: 15%;
            
          }
        
          #pizzavanger {
            max-width: 15%;
            max-height: 15%;
            bottom: 40%; /* set a lower value for larger screens */
          }
    }
      
      
      @media screen and (min-width: 769px) {
        body {
          background-image: url("../images/achtergrond(750).png");
          background-size: 100% auto;
          }
        
          #pizza {
            max-width: 15%;
            max-height: 15%;
            
          }
        
          #pizzavanger {
            max-width: 15%;
            max-height: 15%;
            bottom: 10%; /* set a lower value for the smallest screen */
          }
        }
